<div class="nk-sidebar-element nk-sidebar-head">
  <div class="nk-menu-trigger">
    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
        class="icon ni ni-arrow-left"></em></a>
    <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
        class="icon ni ni-menu"></em></a>
  </div>
  <div class="nk-sidebar-brand">
    <a href="html/index.html" class="logo-link nk-sidebar-logo">
      <img class="logo-light logo-img" src="assets/images/logo.png" srcset="assets/images/logo2x.png 2x" alt="logo">
      <img class="logo-dark logo-img" src="assets/images/logo-dark.png" srcset="assets/images/logo-dark2x.png 2x" alt="logo-dark">
    </a>
  </div>
</div><!-- .nk-sidebar-element -->
<div class="nk-sidebar-element nk-sidebar-body">
  <div class="nk-sidebar-content">
    <div class="nk-sidebar-menu" data-simplebar>
      <ul class="nk-menu">
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Overview</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/dashboard" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
            <span class="nk-menu-text">Dashboard</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Marketing</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/customer-manager/manage-prospects/" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
            <span class="nk-menu-text">Prospects</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/job-manager/job-leads" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
            <span class="nk-menu-text">Job Leads</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Management</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/customer-manager/customers" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Customers</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Sales Management</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/proposal-manager/proposals" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Proposals</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/estimate-manager/estimates" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Estimates</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/expense-manager/expenses" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Expenses</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/invoice-manager/invoices" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Invoices</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/item-manager/items" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
            <span class="nk-menu-text">Items</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/payment-manager/payments" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-bitcoin-cash"></em></span>
            <span class="nk-menu-text">Payments</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/sales-manager/work-service-manager/work-services" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
            <span class="nk-menu-text">Work Services</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Reporting</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/route-strategies" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
            <span class="nk-menu-text">Job Performance</span>
          </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/account/load-controller" class="nk-menu-link">
            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
            <span class="nk-menu-text">Sales</span>
          </a>
        </li><!-- .nk-menu-item -->
      </ul><!-- .nk-menu -->
    </div><!-- .nk-sidebar-menu -->
  </div><!-- .nk-sidebar-content -->
</div><!-- .nk-sidebar-element -->