<div class="modal-body modal-body-md">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="!isEditing" class="title">Create New Expense</h5>
    <h5 *ngIf="isEditing" class="title">Update Expense Information</h5>
    <ul class="nk-nav nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#infomation">Expense Information</a>
      </li>
    </ul><!-- .nav-tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="infomation">
        <div class="row gy-4">
          <div class="col-md-6">
            <app-form-group [controlName]="'amount'" [form]="expenseForm" [inputId]="'expense-amount'"
              [label]="'Amount'" [placeholder]="'e.g 45.99'"></app-form-group>
          </div>
          <div class="col-md-6">
            <app-form-group [controlName]="'category'" [form]="expenseForm" [inputId]="'expense-category'"
              [label]="'Category'" [placeholder]="'e.g Fuel'"></app-form-group>
          </div>
          <div class="col-md-6">
            <app-form-group [controlName]="'location'" [form]="expenseForm" [inputId]="'expense-location'"
              [label]="'Location'" [placeholder]="'e.g Shell'"></app-form-group>
          </div>
          <div class="col-md-6">
            <app-form-group [controlName]="'subCategory'" [form]="expenseForm" [inputId]="'expense-sub-category'" [label]="'Sub-Category'"
              [placeholder]="'e.g deisel'"></app-form-group>
          </div>
        </div>
      </div><!-- .tab-pane -->
    </div><!-- .tab-content -->
    <div class="col-12 mt-3">
      <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2 justify-end">
        <li>
          <button *ngIf="isTesting" type="button" href="#" class="btn btn-primary" (click)="addTestExpense()">Add Test Expense</button>
          <span class="d-inline-block me-2"></span>
          <button *ngIf="!isEditing" type="submit" href="#" class="btn btn-primary">Create New Expense</button>
          <button *ngIf="isEditing" type="submit" href="#" class="btn btn-primary">Update Expense</button>
        </li>
      </ul>
    </div>
  </form>

</div><!-- .modal-body -->