import { gql } from 'apollo-angular';

export const PUT_{{ type_name.upper() }} = gql`
  mutation Put{{ type_name }}($input: Create{{ type_name }}Input!) {
    put{{ type_name }}(input: $input) {
      id
      {% for scalar in scalars %}
      {{ scalar }}
      {% endfor %}
      {% for rel in relations %}
      {{ rel | lower }} {
        id
      }
      {% endfor %}
    }
  }
`;
