# GENERATED ON_PUT {{ type_name.upper() }} SUBSCRIPTION
subscription OnPut{{ type_name }} {
  onPut{{ type_name }} {
    id
    {% for scalar in scalars %}
    {{ scalar }}
    {% endfor %}
    {% for rel in relations %}
    {{ rel | lower }} {
      id
    }
    {% endfor %}
  }
}
