import 'package:riverpod_annotation/riverpod_annotation.dart';
import '../../domain/repositories/i_{{ filename }}_repository.dart';
import '../../data/repositories/graphql_{{ filename }}_repository.dart';
import '{{ filename }}_datasource_provider.dart';

part '{{ filename }}_repository_provider.g.dart';

@riverpod
I{{ type_name }}Repository {{ filename }}Repository(Ref ref) {
  final ds = ref.watch({{ filename }}GraphQLDatasourceProvider);
  return GraphQL{{ type_name }}Repository(ds);
}
