# GENERATED SOFT DELETE {{ type_name.upper() }} MUTATION
mutation SoftDelete{{ type_name }}($input: SoftDelete{{ type_name }}Input!) {
  softDelete{{ type_name }}(input: $input) {
    id
    {% for scalar in scalars %}
    {{ scalar }}
    {% endfor %}
    {% for rel in relations %}
    {{ rel | lower }} {
      id
    }
    {% endfor %}
  }
}
