<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
    <!-- wrap @s -->
    <div class="nk-wrap nk-wrap-nosidebar">
      <!-- content @s -->
      <div class="nk-content ">
        <div class="nk-block-middle">
          <app-content-area>
            <div class="nk-block nk-auth-body  wide-xs">
              <div class="brand-logo pb-4 text-center">
                <a href="/demo1/index.html" class="logo-link">
                  <img class="logo-light logo-img logo-img-lg" src="assets/images/logo.png"
                    srcset="assets/images/logo2x.png 2x" alt="logo">
                  <img class="logo-dark logo-img logo-img-lg" src="assets/images/logo-dark.png"
                    srcset="assets/images/logo-dark2x.png 2x" alt="logo-dark">
                </a>
              </div>
              <div class="card card-bordered">
                <div class="card-inner card-inner-lg">
                  <ng-content></ng-content>
                </div>
              </div>
            </div>
            <div class="nk-footer nk-auth-footer-full">
              <div class="container wide-lg">
                <div class="row g-3">
                  <div class="col-lg-6 order-lg-last">
                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Terms & Condition</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                      </li>
                      <li class="nav-item dropup">
                        <a class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-bs-toggle="dropdown"
                          data-offset="0,10"><span>English</span></a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                          <ul class="language-list">
                            <li>
                              <a href="#" class="language-item">
                                <img src="assets/images/flags/english.png" alt="" class="language-flag">
                                <span class="language-name">English</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="language-item">
                                <img src="assets/images/flags/spanish.png" alt="" class="language-flag">
                                <span class="language-name">Español</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="language-item">
                                <img src="assets/images/flags/french.png" alt="" class="language-flag">
                                <span class="language-name">Français</span>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="language-item">
                                <img src="assets/images/flags/turkey.png" alt="" class="language-flag">
                                <span class="language-name">Türkçe</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <div class="nk-block-content text-center text-lg-start">
                      <p class="text-soft">&copy; 2022 Dashlite. All Rights Reserved.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </app-content-area>
        </div>
      </div>
    </div>
  </div>
</div>