<div class="modal-body modal-body-md">
  <form [formGroup]="workServiceForm" (ngSubmit)="onSubmit()">
    <h5 class="title">Create New Work Service</h5>
    <ul class="nk-nav nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#infomation">Work Service Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#address">Additional Work Service Information</a>
      </li>
    </ul><!-- .nav-tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="infomation">
        <div class="row gy-4">
          <div class="col-md-6">
            <app-form-group [controlName]="'name'" [form]="workServiceForm" [inputId]="'work-service-name'" [label]="'Name'"
              [placeholder]="'e.g Flat head screwdriver'"></app-form-group>
          </div>
          <div class="col-md-6">
            <app-form-group [controlName]="'category'" [form]="workServiceForm" [inputId]="'work-service-category'"
              [label]="'Category'" [placeholder]="'e.g Ishtiyak'"></app-form-group>
          </div>
          <div class="col-md-6">
            <app-form-group [controlName]="'salePrice'" [form]="workServiceForm" [inputId]="'work-service-sale-price'"
              [label]="'Sale Price'" [placeholder]="'e.g 529.99'"></app-form-group>
          </div>
          <div class="col-12">
            <app-textarea-control [controlName]="'description'" [form]="workServiceForm" [id]="'work-service-description'"
            [label]="'Description'" [placeholder]="'Give an work service description'" [minHeight]="100"></app-textarea-control>
          </div>
          <div class="col-12">
            <app-textarea-control [controlName]="'notes'" [form]="workServiceForm" [id]="'work-service-notes'"
            [label]="'Notes'" [placeholder]="'add notes for work service'" [minHeight]="100"></app-textarea-control>
          </div>
        </div>
      </div><!-- .tab-pane -->
      <div class="tab-pane" id="address">
        <div class="row gy-4">
          <div class="col-12">
            <app-array-form-group [arrayFormName]="'costGuides'" [arrayFormControls]="costGuideControls"
              [form]="workServiceForm" [inputId]="'work-service-cost-guides'" [label]="'Cost Guide Website Links'"
              [placeholder]="'links to cross reference job cost'"></app-array-form-group>
            <div class="mt-1">
              <a (click)="$event.preventDefault(); addCostGuideLinkControl()" href="#"><span>add cost guide reference
                  link</span></a>
            </div>
          </div>
          <div class="col-12">
            <app-array-form-group [arrayFormName]="'lineItems'" [arrayFormControls]="lineItemControls"
              [form]="workServiceForm" [inputId]="'work-service-line-items'" [label]="'Work Service Items'"
              [placeholder]="'items to complete work service'"></app-array-form-group>
            <div class="mt-1">
              <a (click)="$event.preventDefault(); addLineItemControl()" href="#"><span>add item</span></a>
            </div>
          </div>
        </div>
      </div><!-- .tab-pane -->
    </div><!-- .tab-content -->
    <div class="col-12 mt-5">
      <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2 justify-end">
        <li>
          <button type="submit" href="#" class="btn btn-primary">Create New Work Service</button>
        </li>
      </ul>
    </div>
  </form>

</div><!-- .modal-body -->